.card {
    /*width: 28%;*/
    height: 400px;
    border: 1px solid grey;
    border-radius: 20px;
    overflow: hidden;

}

.card-img {
    height: 48%;
    overflow: hidden;
}

.card-content {
    height: 52%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card-content span {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 25px;
}

.card-content h3 {
    font-size: 25px;
    margin: 0;
    padding:20px 20px 10px 20px ;
    text-align: center;
    color: #171735;
    font-weight: 700;
}

.card-content p {
    font-size: 16px;
    margin: 0;
    text-align: center;
}


.card-img img {
    width: 100%;
}

.card-content button {
    background-color: #00ADEF;
    outline: none;
    border: none;
    color: #fff;
    font-size: 20px;
    padding: 3px 25px;
    border-radius: 8px 8px 0 0;
    font-weight: 600;
    cursor: pointer;
}

.card-content button:hover {
    background-color: #171735;
}
