body {
    margin: 0;
    font-family: 'Assistant', sans-serif;
    direction: rtl;
    
}

button {
    font-family: 'Assistant', sans-serif;

}

.boxed {
    width: 85%;
    margin: auto;
    display: flex;
    align-items: center;

}

p {
    color: #171735;
}